.add-user {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  min-width: 80vh !important;

}

.add-user:hover {
  box-shadow: none;
}

.bg-secondary-soft {
  background-color: var(--color-white);
}

.rounded {
  border-radius: var(--card-border-radius) !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.file-upload .square {
  height: 250px;
  width: 250px;
  margin: auto;
  vertical-align: middle;
  border: 1px solid #e5dfe4;
  background-color: #fff;
  border-radius: 5px;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(208, 212, 217, 0.5) !important;
}

.btn-success-soft {
  color: #28a745;
  background-color: rgba(40, 167, 69, 0.1);
}

.btn-danger-soft {
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.1);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6;
  color: #29292e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e5dfe4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

input {
  background-color: var(--color-white) !important;
  color: var(--color-dark) !important;
}

.photo-upload {
  background-color: var(--color-white) !important;
  color: var(--color-dark) !important;
}

.save-btn {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.upload-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

