<div class="rule-history ">
    <table >
        <thead>
        <tr>
            <th>Rule name</th>
            <th>Modification description</th>
            <th>Date modified</th>
            <th>Modified by</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rulemod of ruleModifications" >
            <td>{{ rulemod.ruleName }}</td>
            <td>{{ rulemod.modificationDescription }}</td>
            <td>{{ rulemod.modificationDate | date: 'dd/MM/yyyy' }}</td>
            <td >
                {{ rulemod.modifiedBy  }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<p-toast></p-toast>
