<div class="modal-confirm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="icon-box mb-3 ">
        <i class="material-icons">&#xE897;</i>
      </div>
    </div>
    <div class="modal-body">
      <p class="mb-3">Do you really want to lock this user ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="closeDialog()" >Cancel</button>
      <button type="button" class="btn btn-danger" (click)="lockUser()" >Lock</button>
    </div>
  </div>
</div>
