/* Apply styles to rows marked for deletion */
.marked-for-deletion {
  background: rgba(250, 165, 165, 0.89);
}
.marked-for-update{
  background: rgba(246, 218, 151, 0.89);
}
.hist-button {
  border-radius :10px;
  padding: 0.35rem;
  background: rgba(250, 245, 245, 0.89) !important;
}
/* Define styles for the container */
.container {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  min-height: 80vh;
  position: relative;
}

/* Define styles for headings */
h1 {
  margin: 0 0 0 1rem !important;
}

/* Define styles for action column */
.action-column {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Define styles for plain buttons */
.p-button.p-button-text.p-button-plain {
  color: #6c757d;
}

/* Define styles for text buttons */
.p-button.p-button-text {
  background-color: transparent;
  color: #6366F1;
  border-color: transparent;
}

/* Define hover styles for plain buttons */
.p-button.p-button-text.p-button-plain:enabled:hover {
  background: #e9ecef;
  color: #6c757d;
}

/* Define styles for arrow buttons */
.btn-arrow-right,
.btn-arrow-left {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}

.btn-arrow-right {
  padding-left: 36px;
}

.btn-arrow-left {
  padding-right: 36px;
}

/* Define styles for arrow icons */
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 22px;
  height: 22px;
  background: inherit;
  border: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
  transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
  transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
  left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
  right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
  z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
  background-color: white;
}





/*


.marked-for-deletion {
  background-color: rgba(232, 86, 86, 0.89) !important;
}

.container {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  min-height: 80vh;
  position: relative;
}

h1 {
  margin: 0 0 0 1rem !important;
}
.action-column {
  !* Set a specific width for the action column *!
  width: 200px; !* Adjust the width as needed *!

  !* Ensure that the buttons don't exceed the column width *!
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-button.p-button-text.p-button-plain {
  color: #6c757d;
}

.p-button.p-button-text {
  background-color: transparent;
  color: #6366F1;
  border-color: transparent;
}
!* Add this CSS to your component's stylesheet or global styles *!
:host ::ng-deep .p-datatable .p-datatable-tbody > tr,
:host ::ng-deep .p-datatable .p-datatable-header ,
:host ::ng-deep .p-datatable .p-datatable-thead > tr,
:host ::ng-deep .p-datatable .p-datatable-tfoot > tr,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td,
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
{


  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #343a40;
  background: var(--color-white);
  transition: box-shadow 0.2s;
}:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
   !* Your desired font properties *!
   font-family: Arial, sans-serif; !* Change to your preferred font *!
   font-size: 14px; !* Change to your preferred font size *!
   font-weight: normal; !* Change to your preferred font weight if needed *!
   color: #555; !* Change to your preferred font color *!
   margin-bottom: 20px;
   margin-top: 20px;
 }

.p-button.p-button-text.p-button-plain:enabled:hover {
  background: #e9ecef;
  color: #6c757d;
}
!* Add this CSS to your component's stylesheet or global styles *!
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding-top: 10px; !* Adjust the top padding to increase space *!
  padding-bottom: 10px; }!* Adjust the bottom padding to increase space *!



.button-container {
  display: flex;
  align-items: center;
}

.btn-config {
  margin-right: 10px;
}


.btn-arrow-right,
.btn-arrow-left {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;

}

.btn-arrow-right {
  padding-left: 36px;
}

.btn-arrow-left {
  padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
  !* make two squares (before and after), looking similar to the button *!

  content: "";
  position: absolute;
  top: 5px;
  !* move it down because of rounded corners *!

  width: 22px;
  !* same as height *!

  height: 22px;
  !* button_outer_height / sqrt(2) *!

  background: inherit;
  !* use parent background *!

  border: transparent;
  !* use parent border *!

  border-left-color: transparent;
  !* hide left border *!

  border-bottom-color: transparent;
  !* hide bottom border *!

  border-radius: 0px 4px 0px 0px;
  !* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px *!

  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
  transform: rotate(45deg);
  !* rotate right arrow squares 45 deg to point right *!

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
  transform: rotate(225deg);
  !* rotate left arrow squares 225 deg to point left *!

  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
  !* align the "before" square to the left *!

  left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
  !* align the "after" square to the right *!

  right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
  !* bring arrow pointers to front *!

  z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
  !* hide arrow tails background *!

  background-color: white;
}
*/
